language: node_js
node_js: '8'
branches:
  only:
  - master
cache:
  directories:
    - node_modules
install:
  - npm install
script: 
  - npm run lint
  - npm run test
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist
  verbose: true
  on:
    branch: master
